{"quotes":["Woah, take it ees!","Siesta time!","Yeah I'll take some fucking vodka.","Don't go behind the couch.","I already bought a mattress!","I can't take it anymore ees!","I'm a pretty pussy.","I mean, I prefer not to get shot at.","I've never been this close to a wall before.","FFL!","We live in a society.","There's MUSHROOM for improvement.","Brian, stop crying.","I feel like you have to be gutteral when looking at a crest","Where's my jewel? "]}