<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JOMBZ DOT COM</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
            <ul class="nav navbar-nav">
                <!-- Probably need to add js logic in the render data to make the correct tab active-->
                <li><a href="/">Home</a></li>
                <li><a href="/902quotes">902 Quotes</a></li>
            </ul>
        </nav>
    </div>
<main>
    {{{body}}}
</main>
</body>
</html>

