<script src="public/js/902quotes.js"></script>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
    	    <form>
                <div class="form-group multiple-form-group">
                    <label>Add and remove quotes from the 902 Quotes Alexa Skill</label>
                    <div class="form-group input-group">
                        <input type="text" name="multiple[]" class="form-control">
                            <span class="input-group-btn"><button type="button" class="btn btn-default btn-add">+</button></span>
                    </div>
                </div>
            </form>
        </div>        
    </div>
</div>

