<div class="col-lg-8 col-md-10 mx-auto">
<section>
	<p>
		Please login below.
	</p>
	{{#if has_errors}}
	<div class="alert alert-danger fade in">
    	<a href="#" class="close" data-dismiss="alert">&times;</a>
    	{{error_message}}
	</div>
	{{/if}}
</section>
<section>
	<form id="login-form" method="POST" action="/login">
		<label for="usernameField">Username:</label>
		<input id="usernameField" type="text" name="username" />
		<label for="passwordField">Password:</label>
		<input id="passwordField" type="password" name="password" />
		<input type="submit" value="Submit" />
	</form>
</section>
<section>
	<a href="/register">Create an account</a>
</section>
</div>
